$body-bg: #ffcc00;
$card-bg: #fff;
$primary-color: #d32f2f;
$text-color: #333;

.menu-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darken($primary-color, 10%);
}

.cart {
    background: $card-bg;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.cart-item button:hover {
    background-color: #ff1a1a;
}

.cart-item span {
    flex-grow: 1;
    text-align: left;
}
