.hero{

    height : 30rem;
    padding: 0 1rem 0 0 ;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/hero.jpg');
}
.title{
font-size: 3rem;
font-weight: 700;
padding-right: 2rem;
}
.title span{
    color: $c-fever-blue-primary;
}
.description{
margin-top: 2rem;
color: $c-white;
}
.btn{
margin-top: 2rem ;
padding: 0.5rem 1rem 0.5rem 1rem;
border-radius: 6px;
background-color: $c-fever-yellow;
color: black;
font-weight: 700;
}
@media (min-width: 1000px) {
    .title{
        font-size: 4.5rem;
    }
    .description{
        font-size: 2rem;
    }
    .btn{
        margin-top: 3rem;
        font-size: 1.2rem;
    }
}